# Because of gbk encoding error, the comments are changed to English.
# recommend to use python 3.11


setuptools>=80.0.0
wheel>=0.46.0
pyyaml>=6.0.0
#desktop
pygame>=2.5.0
pyqt5>=5.15.11
pyqt5-qt5
pyqt5-sip
pyaudio
pyautogui>=0.9.54
live2d-py<0.6

#backend
aiohttp
bilibili-api==4.1.0
charset-normalizer
comtypes
crawl4ai
dashscope>=1.25.3
edge-tts
emoji
fastapi
fastmcp
flask
gevent
gui-agents
jmcomic
json5
langchain-community
langchain-openai
librosa>=0.11.0
markdown>=3.10
matplotlib
mcp
neo4j
numpy>=1.21.0
openai
opencv-python
onnxruntime>=1.23.2
paho-mqtt>=2.1.0
pillow
playwright
psutil
py2neo
pycaw
pydub
py-key-value-aio[disk,memory,redis]>=0.3.0 # optional, often unavailable
pyneo
pyopengl>=3.1.10
pytesseract
python-docx
python-dotenv
pyvis
requests
scipy>=1.9.0
screen-brightness-control
#torch
uvicorn